
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
	background: linear-gradient(#F9D036, #FF7456);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-laravel a { color:#5a5a5a; }

.col {padding:0; margin:0}
.btn { border-radius: 0;}
.btn-lg { height:80px; font-size: 25px;}

a:hover { text-decoration: none; }

.routine-list { list-style:none; padding: 15px 0px; margin:0px;}

.routine-list-item {
	font-size:25px;
	border-bottom: #cacaca 1px solid;
	padding: 20px;
	margin:0px;
}

form { padding:0; margin:0}

select.form-control,
input.form-control { height:50px; font-size:25px;}

.past-entry-container { margin: 35px 0px; }

.entry-interval,
.entry-count { font-weight:700; font-size: 25px;}

.modal-dialog { width: 100%; margin: 0; }
.modal-content { border-radius:0; }
.modal-footer { padding:0; }
.modal-footer > button { padding: 0; width:50%; height:80px; margin:0 !important; font-size:20px;}


.back-link { font-size:20px; }

